.grid-container {
    display:grid;
    grid-template-columns: auto 350px;
    padding: 24px;
    column-gap: 24px;
}

@media only screen and (max-width: 1024px) {
    .grid-container {
        display:grid;
        grid-template-columns: 400px auto;
        padding: 24px;
        column-gap: 24px;
    }
  }

@media only screen and (max-width: 768px) {
    .grid-container {
        display:block;
        grid-template-columns: auto;
        padding: 24px;
        column-gap: 24px;
    }
  }